* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    /*height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

section {
    width: 100vw;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    padding: 20px 16px 20px 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.heading-w{
    margin-bottom: 64px;
}
.heading-calc {
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    color: #10273D;
}

.number_input_label {
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: rgba(16, 39, 61, 0.5);
    margin-bottom: 12px;
}
.range_input_label {
    position: absolute;
    bottom: 0;
}

input[type=number], select {
    min-width: 337px;
    min-height: 60px;
    border: none;
    border-radius: 8px;
    padding: 18px 24px 18px 24px;
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
    -moz-appearance:textfield;
    background-color: #F2F4F8;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=number]:focus {
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;

    margin: 0;
}

.main-w {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
}

.form-w {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btn-w {
    margin: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-calc {
    padding: 0;
    border: none;
    background: transparent;
    color: #10273D;
    font-weight: 500;
    font-size: 17px;
    line-height: 120%;
    text-decoration: underline;
    cursor: pointer;
}

.input-w {
    /*width: 300px;*/
    /*height: 50px;*/
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 28px;
    padding: 2px 0 4px 0;
    /*border: 1px solid black;*/
    /*border-radius: 2px;*/
    align-items: flex-start
}

input, select:focus {
    outline:none;
    border: none;
}

input[type=range].slider {
    min-width: 300px;
    padding: 0 24px 0 24px;
    height: 0.0625em;
    -webkit-appearance: none;
}

/*progress support*/
input[type=range].slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 10px + var(--ratio) * (100% - 10px));
}

input[type=range].slider:focus {
    outline: none;
}

/*webkit*/
input[type=range].slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #173B57;
    border: none;
    box-shadow: none;
    margin-top: calc(1px * 0.5 - 10px * 0.5);
    cursor: -webkit-grab;
    cursor: grab;
}

input[type=range].slider::-webkit-slider-runnable-track {
    height: 0.0625em;
    border: none;
    border-radius: 1px;
    background: #FFFEFE00;
    box-shadow: none;
    cursor: pointer;
}

input[type=range].slider::-webkit-slider-thumb:hover {
    background: #173B57;
    cursor: -webkit-grab;
    cursor: grab;
}

input[type=range].slider::-webkit-slider-thumb:active {
    background: #173B57;
    cursor: -webkit-grab;
    cursor: grab;
}

input[type=range].slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#173B57,#173B57) 0/var(--sx) 100% no-repeat, #FFFEFE00;
}

/*mozilla*/
input[type=range].slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #173B57;
    border: none;
    box-shadow: none;
    cursor: grab;
}

input[type=range].slider::-moz-range-track {
    height: 0.0625em;
    border: none;
    border-radius: 1px;
    background: #FFFEFE00;
    box-shadow: none;
    cursor: pointer;
}

input[type=range].slider::-moz-range-thumb:hover {
    background: #173B57;
    cursor: grab;
}

input[type=range].slider::-moz-range-thumb:active {
    background: #173B57;
    cursor: grab;
}

input[type=range].slider.slider-progress::-moz-range-track {
    background: linear-gradient(#173B57,#173B57) 0/var(--sx) 100% no-repeat, #FFFEFE00;
}

/*ms*/
input[type=range].slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

input[type=range].slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

input[type=range].slider::-ms-thumb {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #173B57;
    border: none;
    box-shadow: none;
    margin-top: 0;
    box-sizing: border-box;
    cursor: grab;
}

input[type=range].slider::-ms-track {
    height: 0.0625em;
    border-radius: 1px;
    background: #FFFEFE00;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
}

input[type=range].slider::-ms-thumb:hover {
    background: #173B57;
    cursor: grab;
}

input[type=range].slider::-ms-thumb:active {
    background: #173B57;
    cursor: grab;
}

input[type=range].slider.slider-progress::-ms-fill-lower {
    height: 0.0625em;
    border-radius: 1px 0 0 1px;
    background: #173B57;
    border: none;
    border-right-width: 0;
    cursor: pointer;
}

.form-w {
    margin-right: 64px;
    justify-content: flex-start
}

.total-balance, .total-payment, .total-percent {
    width: 100%;
    border: 1px solid #E8ECF0;
    border-radius: 12px;
    padding: 24px 28px 24px 28px;
}
.total-balance {
    margin-bottom: 20px;
}
.total-payment {
    margin-right: 20px;
}
.total-other {
    display: flex;
}

.total-result_sum {
    margin-top: 10px;
    color: #10273D;
    font-weight: 400;
    font-size: 42px;
    line-height: 90%;
}

.total-result {
    margin-top: 6px;
    color: #10273D;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
}

#myChart {
    margin-top: 32px;
    width: 784px;
    /*height: 550px;*/
    /*margin: 5px 40px 5px 40px;*/
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    border: 1px solid #04CCD9;
    margin-top: 32px;
}

tr {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto;
    gap: 10px 10px;
    padding: 1px;
}

tr > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

tr > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

tr > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

tr > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

tr > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
}

tr > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
}

tr > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 13;
}

td {
    padding: 1px;
    min-width: 150px;
    border: 1px solid black;
}

.error {
    border: 1px solid red;
    color: red;
    background-color: rgba(255, 0, 0, 0.18);
}
