* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

section {
    width: 100vw;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 20px 16px 20px 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

input {
    width: 300px;
    height: 50px;
}
select{
    width: 300px;
    height: 50px;
}
.main-w{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
}

.form-w{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btn-w{
    margin: 15px;
}
button{
    padding: 2px;
    cursor: pointer;
}

.input-w {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 2px;
}

input{
    padding: 2px;
}

input:focus{
    background-color: lightblue;
}

#myChart {
    width: 950px;
    height: 550px;
    margin: 5px 40px 5px 40px;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    border: 1px solid aquamarine;
}

tr{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto;
    gap: 10px 10px;
    padding: 1px;
}

td {
    padding: 1px;
    min-width: 150px;
    border: 1px solid black;
}

.error {
    border: 1px solid red;
    color: red;
    background-color: rgba(255, 0, 0, 0.18);
}
